body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: block; 
}

div{
  box-sizing : border-box;
}

li{
  list-style: none;
}
  
.event-nav{
  width: 100vw;
  height: 40px;
  background-color: rgb(50, 28, 250);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-weight: bold;
  font-size: 13px;
}

.main-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}




.main-nav ul{
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.box{
  display: flex;
  gap: 1rem;
  align-items: center;

}

.main-container{
    overflow: hidden;
    position: relative;
}

.start-container{
  width: 300vw;
  display: flex;
  transition: transform 0.5s;
}

.slide-box{
  width: 100vw;
  flex-shrink: 0;
}

.slide-box img{
  width: 100%;
  height: 50vh;
}

  .btn-container{
    position: absolute;
    top : 45vh;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 100;
  }

  .btn-container button {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: none;
    background-color: black;
    cursor: pointer;
    line-height: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    opacity : 0.5;
  }

  .btn-container button.active {
    width: 20px;
    transition: 0.5s;
    opacity : 1;
    border-radius : 30%
  }
  

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background: 0;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    user-select: none;
    color : black;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }